@model Sfs.ViewModels.InboxViewModels.LerViewModel

@{
    ViewBag.Title = "Sistema de Final de Semana - " + Model.Mensagem.Assunto;
}

@Html.ActionLink("Voltar", "Index", new { PaginaAtual = Model.PaginaOrigem })

<table>
    <thead>
        <tr>
            <td>
                @Model.Mensagem.Assunto <br /> De: @Model.Mensagem.Remetente
            </td>            
        </tr>
    </thead>
        <tr>
            <td>
                @Html.Raw(Model.Mensagem.Texto)
            </td>
        </tr>

    </table>



