@model Sfs.Models.Pessoa

@{
    ViewBag.Title = "Detalhes";
}

<h3>Detalhes</h3>
<hr />
<h2>Saídas</h2>
<table>
    <tbody>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Presente
            </th>
        </tr>
    </tbody>
    @foreach (var s in Model.Inscricoes.Where(i => i.Validada == true)) {
        <tr>
            <td>
                @s.Atividade.Descricao
            </td>
            <td>
                @s.Atividade.DataHoraInicio
            </td>
            <td>
                @s.Presente
            </td>
        </tr>
    }
</table>
